@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-Book.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-BookItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-Hairline.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-HairlineItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-RegularItalic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-SemiBoldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-Skeleton.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-SkeletonItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-UltraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-UltraLightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-UltraThin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FTBlank";
  src: url("./assets/fonts/Blank Gr/FTBlank-UltraThinItalic.otf")
    format("opentype");
  font-weight: 100;
  font-style: italic;
}
